<div id="vmaig-links">
    <div class="panel panel-vmaig">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-link"></span>
                    友情链接 
                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right"  data-toggle="collapse" data-target="#links"></span>
            </h3>
        </div>
        <div id="links" class="padding10 list-group collapse in">
            <a title="xxx" target="_blank" href="http://xxx.com" class="btn btn-vmaig btn-xs margin2">xxx网站</a>
            <a title="yyy" target="_blank" href="http://yyy.com" class="btn btn-success btn-xs margin2">yyy网站</a>
            <a title="zzz" target="_blank" href="http://zzz.com" class="btn btn-info btn-xs margin2">xxx网站</a>
        </div>
    </div>
</div>
