<div id="vmaig-hotest-posts">
    <div class="panel panel-vmaig">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-flag"></span>
                关于我
                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right"  data-toggle="collapse" data-target="#hotest-post-list"></span>
            </h3>
        </div>
        <ul class="list-group collapse in" style="display: flex;align-items: center;">
            <div>
                <a title="扫一扫联系我">
                    <img style="width: 140px;" src="../static/img/myself/wx.png">
                </a>
            </div>
            <div style="padding-left: 10px;">
                <font color="#4f6371">
                    <font color="#ff9900">·</font><a title="这只是个化名">姓名：司徒飞</a><br>
                    <font color="#ff9900">·</font>代号：灰狼<br>
                    <font color="#ff9900">·</font>年龄：90一代<br>
                    <font color="#ff9900">·</font>博客：<a href="http://www.alewolf.com" target="_blank">http://www.alewolf.com</a><br>
                    <font color="#ff9900">·</font>邮箱：<script type="text/javascript">function copyText(obj) {var rng = document.body.createTextRange();rng.moveToElementText(obj);rng.scrollIntoView();rng.select();rng.execCommand("Copy");rng.collapse(false);}</script><span id="myemail"><script language="JavaScript"></script>qqdb75@sina.com</span> [<a href="#" title="复制E-mail地址到剪贴板" onclick="copyText(document.all.myemail)">复制</a>]<br>
                    <font color="#ff9900">·</font><a title="devops">职位：运维开发工程师</a><br>
                    <font color="#ff9900">·</font>籍贯：<a href="http://www.scpc.gov.cn/" target="_blank">四川省平昌县</a>
            </div>
        </ul>
    </div>
</div>